body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: url('../../public/Background.jpg') no-repeat center top;
  background-size: cover;
  color: #333;
}

button {
  font-family: inherit;
}
