.registration-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3rem 2rem;
    border-radius: 12px;
    max-width: 420px;
    width: 95%;
    text-align: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.18);

    h1 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: var(--primary-color);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      margin-top: 1rem;
    }
  }

  .app-button {
    width: 100%;
    margin-top: 1rem;
  }
}
